# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore sensitive variable files
*.auto.tfvars
secret.tfvars

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
